# Created from svn ignore files
# To update delete everything below this line and run 'git svn show-ignore >> .gitignore'
#

# /
/*.a
/*.dll
/*.dylib
/*.exe
/*.so
/*.xcodeproj
/build
/vc200?
/.bakefile_gen.state
/.deps
/*.d
/Makefile
/Makefile.in
/Makefile.mingw
/Makefile.simple
/aclocal.m4
/autoconf_inc.m4
/autom4te.cache
/bk-deps
/config.*
/configure
/install-sh
/libtool
/ltmain.sh
/shared-ld-sh
/abi.xml
/compat_reports
/logs
/version
/install.hta
/mysql++.spec
/mysql++-*.gz
/libmysqlpp.so.*
/cgi_jpeg
/complic1
/cpool
/dbinfo
/deadlock
/fieldinf
/for_each
/load_jpeg
/multiquery
/resetdb
/simple[0-9]
/ssqls[0-9]
/ssqlsxlat
/store_if
/test_[a-z]*
/tquery[0-9]
/transaction
/usequery
/tags

# /config/
/config/tags
/config/autoconf_inc.m4
/config/ltsugar.m4
/config/libtool.m4
/config/ltversion.m4
/config/lt~obsolete.m4
/config/ltoptions.m4

# /doc/
/doc/latex
/doc/pdf
/doc/tags

# /doc/html/
/doc/html/*.html
/doc/html/tags

# /doc/html/refman/
/doc/html/refman/*.css
/doc/html/refman/*.dot
/doc/html/refman/*.gif
/doc/html/refman/*.png
/doc/html/refman/*.ttf
/doc/html/refman/[a-z]*.html
/doc/html/refman/[a-z]*.map
/doc/html/refman/[a-z]*.md5
/doc/html/refman/doxygen.css
/doc/html/refman/ssx
/doc/html/refman/tags

# /doc/html/userman/
/doc/html/userman/*.html

# /doc/refman/
/doc/refman/latex
/doc/refman/*.pdf
/doc/refman/tags

# /doc/userman/
/doc/userman/*.fo
/doc/userman/*.o
/doc/userman/*.pdf
/doc/userman/*.txt
/doc/userman/hello
/doc/userman/tags
/doc/userman/userman.dbx

# /examples/
/examples/*.a
/examples/*.bat
/examples/*.d
/examples/*.dll
/examples/*.dsp
/examples/*.dsw
/examples/*.exe
/examples/*.idb
/examples/*.ilc
/examples/*.ild
/examples/*.ilf
/examples/*.ils
/examples/*.map
/examples/*.ncb
/examples/*.obj
/examples/*.pdb
/examples/*.sln
/examples/*.suo
/examples/*.tds
/examples/*.user
/examples/*.vcproj
/examples/Debug
/examples/Release
/examples/.deps
/examples/.libs
/examples/Makefile
/examples/Makefile.in
/examples/Makefile.mingw
/examples/Makefile.simple
/examples/tags

# /examples/vstudio/
/examples/vstudio/*.ncb
/examples/vstudio/*.suo
/examples/vstudio/debug
/examples/vstudio/release

# /examples/vstudio/mfc/
/examples/vstudio/mfc/*.aps
/examples/vstudio/mfc/*.user
/examples/vstudio/mfc/Debug
/examples/vstudio/mfc/Release

# /examples/vstudio/wforms/
/examples/vstudio/wforms/*.aps
/examples/vstudio/wforms/*.user
/examples/vstudio/wforms/Debug
/examples/vstudio/wforms/Release

# /lib/
/lib/*.a
/lib/*.bat
/lib/*.d
/lib/*.def
/lib/*.dll
/lib/*.dsp
/lib/*.dsw
/lib/*.dylib
/lib/*.exe
/lib/*.exp
/lib/*.idb
/lib/*.ilc
/lib/*.ild
/lib/*.ilf
/lib/*.ilk
/lib/*.ils
/lib/*.la
/lib/*.lib
/lib/*.lo
/lib/*.map
/lib/*.ncb
/lib/*.obj
/lib/*.pdb
/lib/*.sln
/lib/*.suo
/lib/*.tds
/lib/*.user
/lib/*.vcproj
/lib/libmysqlpp.so*
/lib/Debug
/lib/Release
/lib/.deps
/lib/.libs
/lib/Makefile
/lib/Makefile.in
/lib/Makefile.mingw
/lib/Makefile.simple
/lib/debug
/lib/Doxyfile
/lib/exceptions.h
/lib/mysql++.h
/lib/querydef.h
/lib/release
/lib/ssqls.h
/lib/stamp-h2
/lib/tags

# /ssx/
/ssx/Doxyfile
